<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>批次置列表项</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
	<script src="/webjars/jquery/3.2.0/dist/jquery.min.js"></script>
	<script type="text/javascript">
	</script>
  </head>
  
  <body>
  	<div>
  		批次信息：<span th:text="${batch.batchName}"></span>
  		<input type="button" value="添加表到批次">
  	</div>
  	<div>
  		<!-- 变更批次名称 -->
  		<form action="">
	  		<label>变更批次名称：</label><input type="text" name="batchName">
	  		<input type="submit" value="提交">
  		</form>
  	</div>
    <table style="width:80%;text-align:center;" border="1px">
	    <tr>
	      <th>序号</th>
	      <th>源表</th>
	      <th>目标表</th>
	      <th>描述</th>
	      <td>操作</td>
	    </tr>
	    <tr th:each="table,index : ${batch.tableList}">
	      <td th:text="${index.count}"></td>
	      <td th:text="${table.from}"></td>
	      <td th:text="${table.to}"></td>
	      <td th:text="${table.note}"></td>
	      <td><a>移除</a></td>
	    </tr>
	  </table>
  </body>
</html>