<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="tableDiv" class="panel panel-default">
	  <div>
	  	<input class="btn btn-primary" type="button" value="保存" v-on:click="saveTable">
  		<input class="btn btn-primary" type="button" onclick="locationUrl('/tables/toList','table')" value="返回">
  	  </div>
	  <div class="panel-heading">配置迁移表字段信息</div>
	  <div class="panel-body">
		  <div class="form-inline">
			  <div class="form-group">
				    <label for="note">迁移数据信息：</label>
				    <input type="text" class="form-control" name="note" v-model="note">
			  </div>
			  <div class="form-group">
				    <label for="from">选择源表：</label>
				    <select class="form-control" v-model="from" name="form" v-on:change="getChangedTable">
						<option th:each="tableName:${sourceTableList}" th:text="${tableName}" th:value="${tableName}"></option>
					</select>
			  </div>
			  <div class="form-group">
				    <label for="to">选择目标表：</label>
				    <select class="form-control" v-model="to" name="to" v-on:change="getChangedTable">
						<option th:each="tableName:${targetTableList}" th:text="${tableName}" th:value="${tableName}"></option>
					</select>
			  </div>
			  <div class="form-group">
				    <label for="to">操作类型：</label>
				    <select class="form-control" v-model="type" name="type">
						<option value="MIGRATE">插入到目标表</option>
		        		<option value="UPDATE">更新字段值到目标表</option>
					</select>
			  </div>
		  </div>
		  <div style="float: right;">
		  	<input class="btn btn-primary" type="button" value="添加字段" v-on:click="addField">
		  </div>
	  </div>
	  <!-- 表字段配置信息 -->
	  <table class="table table-hover table-bordered">
	  	<thead>
	        <tr>
	          <th class="col-md-1">#</th>
	          <th class="col-md-2">目标表字段</th>
	          <th class="col-md-2">值来源</th>
	          <th class="col-md-2">数据值</th>
	          <th class="col-md-1">日志字段</th>
			  <th class="col-md-3">备注</th>
			  <th class="col-md-1">操作</th>
	        </tr>
	  	</thead>
	  	<tbody>
	  		<tr v-for="(field,index) in fieldList" v-if="field.applyType=='TARGET'">
	  			<th scope="row">{{ index+1 }}</th>
		        <td>
		        	<select class="form-control" v-model="field.name" name="name">
		        		<option v-for="(col,index) in toTableModel.columnList" :value="col.name">{{col.comment}}</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="field.valueType" name="valueType" v-on:change="changeFieldValueType(index,'')">
		        		<option value="FIXED">固定值</option>
		        		<option value="FIELD">字段值</option>
		        		<option value="GENCODE">自增值</option>
		        	</select>
		        </td>
		        <td>
		        	<input v-if="field.showText" type="text" class="form-control" v-model="field.textValue" name="textValue">
		        	<select v-if="field.showSelect" class="form-control" v-model="field.fieldValue" name="fieldValue">
		        		<option v-for="(col,index) in fromTableModel.columnList" :value="col.name">{{col.comment}}</option>
		        	</select>
		        </td>
		        <td>
		        	<div class="checkbox">
				        <label>
				        	<input type="checkbox" name="forLog" v-model="field.forLog" value="1">
				        </label>
				    </div>
				</td>
		        <td>
		        	<input type="text" name="note" v-model="field.note" class="form-control">
		        </td>
		        <td>
		        	<a style="text-decoration: none;" v-on:click="fieldRemove(index)"><i class="icon-action-redo"></i>删除</a>
		        </td>
	  		</tr>
	  	</tbody>
	  </table>
	  
	  <!-- ************************************************************************************************************************** -->
	  <!-- 原表应用条件设置 -->
	   <div class="panel-body">
		  <div style="float: right;">
		  	<input class="btn btn-primary" type="button" value="添加原表关联及筛选字段" v-on:click="addSourceWhereField">
		  </div>
	  </div>
	  <!-- 关联及筛选字段信息 -->
	  <table class="table table-hover table-bordered">
	  	<thead>
	        <tr>
	          <th class="col-md-1">#</th>
	          <th class="col-md-3">条件字段（原表）</th>
	          <th class="col-md-2">条件表达式</th>
	          <th class="col-md-2">条件值来源</th>
	          <th class="col-md-3">数据值</th>
			  <th class="col-md-1">操作</th>
	        </tr>
	  	</thead>
	  	<tbody>
	  		<tr v-for="(conditionField,index) in conditionFieldList" v-if="conditionField.applyType=='SOURCE'">
	  			<th scope="row">{{ index+1 }}</th>
		        <td>
		        	<select class="form-control" v-model="conditionField.name" name="name">
		        		<option v-for="(col,index) in fromTableModel.columnList" :value="col.name">{{col.comment}}</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="conditionField.type" name="type">
		        		<option value="LIKE">LIKE匹配</option>
		        		<option value="LLIKE">左LIKE匹配</option>
		        		<option value="RLIKE">右RLIKE匹配</option>
		        		<option value="EQUAL">等于</option>
		        		<option value="NEQUAL">不等于</option>
		        		<option value="IN">包含</option>
		        		<option value="NOTIN">不包含</option>
		        		<option value="GT">大于</option>
		        		<option value="GE">大于等于</option>
		        		<option value="LT">小于</option>
		        		<option value="LE">小于等于</option>
		        		<option value="ISNULL">为空</option>
		        		<option value="ISNOTNULL">不为空</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="conditionField.valueType" name="valueType">
		        		<option value="FIXED">固定值</option>
		        	</select>
				</td>
		        <td>
		        	<input type="text" class="form-control" v-model="conditionField.textValue" name="textValue">
		        </td>
		        <td>
		        	<a style="text-decoration: none;" v-on:click="conditionFieldRemove(index)"><i class="icon-action-redo"></i>删除</a>
		        </td>
	  		</tr>
	  	</tbody>
	  </table>
	  
	  <!-- 目标表应用条件设置 -->
	  <div class="panel-body">
		  <div style="float: right;">
		  	<input class="btn btn-primary" type="button" value="添加目标表关联及筛选字段" v-on:click="addTargetWhereField">
		  </div>
	  </div>
	  <!-- 关联及筛选字段信息 -->
	  <table class="table table-hover table-bordered">
	  	<thead>
	        <tr>
	          <th class="col-md-1">#</th>
	          <th class="col-md-3">条件字段（目标表）</th>
	          <th class="col-md-2">条件表达式</th>
	          <th class="col-md-2">条件值来源</th>
	          <th class="col-md-3">数据值</th>
			  <th class="col-md-1">操作</th>
	        </tr>
	  	</thead>
	  	<tbody>
	  		<tr v-for="(conditionField,index) in conditionFieldList" v-if="conditionField.applyType=='TARGET'">
	  			<th scope="row">{{ index+1 }}</th>
		        <td>
		        	<select class="form-control" v-model="conditionField.name" name="name">
		        		<option v-for="(col,index) in toTableModel.columnList" :value="col.name">{{col.comment}}</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="conditionField.type" name="type">
		        		<option value="LIKE">LIKE匹配</option>
		        		<option value="LLIKE">左LIKE匹配</option>
		        		<option value="RLIKE">右RLIKE匹配</option>
		        		<option value="EQUAL">等于</option>
		        		<option value="NEQUAL">不等于</option>
		        		<option value="IN">包含</option>
		        		<option value="NOTIN">不包含</option>
		        		<option value="GT">大于</option>
		        		<option value="GE">大于等于</option>
		        		<option value="LT">小于</option>
		        		<option value="LE">小于等于</option>
		        		<option value="ISNULL">为空</option>
		        		<option value="ISNOTNULL">不为空</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="conditionField.valueType" name="valueType" v-on:change="changeConditionFieldValueType(index,'')">
		        		<option value="FIXED">固定值</option>
		        		<option value="FIELD">字段值</option>
		        	</select>
				</td>
		        <td>
		        	<input v-if="conditionField.showText" type="text" class="form-control" v-model="conditionField.textValue" name="textValue">
		        	<select v-if="conditionField.showSelect" class="form-control" v-model="conditionField.fieldValue" name="fieldValue">
		        		<option v-for="(col,index) in fromTableModel.columnList" :value="col.name">{{col.comment}}</option>
		        	</select>
		        </td>
		        <td>
		        	<a style="text-decoration: none;" v-on:click="conditionFieldRemove(index)"><i class="icon-action-redo"></i>删除</a>
		        </td>
	  		</tr>
	  	</tbody>
	  </table>
	  
	  <!-- ***************************************************************************************************************************************** -->
	  
	  <div class="panel-body">
		  <div style="float: right;">
		  	<input class="btn btn-primary" type="button" value="添加格式化字段" v-on:click="addFormatField">
		  </div>
	  </div>
	  <!-- 原表格式化字段信息 -->
	  <table class="table table-hover table-bordered">
	  	<thead>
	        <tr>
	          <th class="col-md-1">#</th>
	          <th class="col-md-3">格式化字段（原表）</th>
	          <th class="col-md-2">格式化处理类</th>
	          <th class="col-md-2">格式化默认值</th>
	          <th class="col-md-3">格式化参数</th>
			  <th class="col-md-1">操作</th>
	        </tr>
	  	</thead>
	  	<tbody>
	  		<tr v-for="(formatField,index) in formatFieldList">
	  			<th scope="row">{{ index+1 }}</th>
		        <td>
		        	<!-- 这里格式化的是原表中的字段 -->
		        	<select class="form-control" v-model="formatField.filedName" name="filedName">
		        		<option v-for="(col,index) in fieldList" v-if="col.valueType=='FIELD'" :value="col.fieldValue">{{col.fieldValue}}</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="formatField.clazz" name="clazz">
		        		<option value="com.ipph.migratecore.deal.format.JsonMethodFormater">JSON格式化处理类</option>
		        		<option value="com.ipph.migratecore.deal.format.PatentNoFormater">申请号格式化处理类</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" name="defaultValue" v-model="formatField.defaultValue" class="form-control">
				</td>
		        <td>
		        	<input type="text" name="formatParameter" v-model="formatField.formatParameter" class="form-control">
		        </td>
		        <td>
		        	<a style="text-decoration: none;" v-on:click="formatFieldRemove(index)"><i class="icon-action-redo"></i>删除</a>
		        </td>
	  		</tr>
	  	</tbody>
	  </table>
	  
	   <!-- ***************************************************************************************************************************************** -->
	  
	  <div class="panel-body">
		  <div style="float: right;">
		  	<input class="btn btn-primary" type="button" value="添加源表限制字段" v-on:click="addSourceConstraintField">
		  </div>
	  </div>
	  <!-- 原表格式化字段信息 -->
	  <table class="table table-hover table-bordered">
	  	<thead>
	        <tr>
	          <th class="col-md-1">#</th>
	          <th class="col-md-3">限制字段（原表）</th>
	          <th class="col-md-2">限制类型</th>
			  <th class="col-md-1">操作</th>
	        </tr>
	  	</thead>
	  	<tbody>
	  		<tr v-for="(constraintField,index) in constraintFieldList" v-if="constraintField.applyType=='SOURCE'">
	  			<th scope="row">{{ index+1 }}</th>
		        <td>
		        	<!-- 这里格式化的是原表中的字段 -->
		        	<select class="form-control" v-model="constraintField.fieldName" name="fieldName">
		        		<option v-for="(col,index) in fromTableModel.columnList" :value="col.name">{{col.comment}}</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="constraintField.type" name="type">
		        		<option value="PRIMARY">PRIMARY</option>
		        		<option value="FOREIGNKEY">FOREIGNKEY</option>
		        	</select>
		        </td>
		        <td>
		        	<a style="text-decoration: none;" v-on:click="constraintFieldRemove(index)"><i class="icon-action-redo"></i>删除</a>
		        </td>
	  		</tr>
	  	</tbody>
	  </table>
	  
	   <!-- ***************************************************************************************************************************************** -->
	  
	  <div class="panel-body">
		  <div style="float: right;">
		  	<input class="btn btn-primary" type="button" value="添加目标表限制字段" v-on:click="addTargetConstraintField">
		  </div>
	  </div>
	  <!-- 原表格式化字段信息 -->
	  <table class="table table-hover table-bordered">
	  	<thead>
	        <tr>
	          <th class="col-md-1">#</th>
	          <th class="col-md-3">限制字段（原表）</th>
	          <th class="col-md-2">限制类型</th>
			  <th class="col-md-1">操作</th>
	        </tr>
	  	</thead>
	  	<tbody>
	  		<tr v-for="(constraintField,index) in constraintFieldList" v-if="constraintField.applyType=='TARGET'">
	  			<th scope="row">{{ index+1 }}</th>
		        <td>
		        	<!-- 这里格式化的是原表中的字段 -->
		        	<select class="form-control" v-model="constraintField.fieldName" name="fieldName">
		        		<option v-for="(col,index) in toTableModel.columnList" :value="col.name">{{col.comment}}</option>
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control" v-model="constraintField.type" name="type">
		        		<option value="PRIMARY">PRIMARY</option>
		        		<option value="FOREIGNKEY">FOREIGNKEY</option>
		        	</select>
		        </td>
		        <td>
		        	<a style="text-decoration: none;" v-on:click="constraintFieldRemove(index)"><i class="icon-action-redo"></i>删除</a>
		        </td>
	  		</tr>
	  	</tbody>
	  </table>
	  
	  <input type="hidden" name="id" v-model="id">
	</div>
</body>
	<script src="https://cdn.bootcss.com/json2/20160511/json2.min.js"></script>
	<script th:src="@{/webjars/vue/2.1.3/vue.min.js}"></script>
	
	<script th:inline="javascript">
	    /*<![CDATA[*/
	      var tableId = /*[[${tableId}]]*/ '0';
	    /*]]>*/
	</script>
    <script type="text/javascript">
	    var tableDiv = new Vue({
	        el: "#tableDiv",
	        data: {
	        	id:'',//业务数据主键
	        	note:'',//定义配置描述信息
	        	from:'',//配置源表
	        	to:'',//配置目标表
	        	type:'',//操作类型
	        	fieldList:[],//配置字段转换信息
	        	conditionFieldList:[],//条件字段
	        	formatFieldList:[],//格式化字段信息
	        	constraintFieldList:[],//限定字段信息
	        	fromTableModel:{},//原表信息，设置成空对象
				toTableModel:{},//目标表信息
				len:0
	        },
	        mounted: function () {//created访问数据后无法正常显示到页面上
	        	if(tableId!=0){
	        		//获取初始化数据
	        		loadData(tableId);
	        	}
	        },
	        methods: {
	        	//原、目标表的选择
	            getChangedTable: function(event){
	            	if(this.from!=''&&this.to!=''){
	            		changeTable(this.from,this.to);
	            	}
	            },
	            
	            //******************************************************************************************************
	            addField : function(event){
	            	if(this.from==''||this.to==''){
	            		toastr.error('请先选择要配置的原数据表和目标数据表!', '操作失败');
	            		return;
	            	}
	            	/* if(this.fieldList.length==this.len){
	            		toastr.info('没有可添加的目标字段！', '提示信息');
	            		return;
	            	} */
	            	this.fieldList.push(
	            		{"name":"","valueType":"","textValue":"","fieldValue":"","value":"","showText":false,"showSelect":false,"forLog":0,"note":"","applyType":"TARGET"});
	            	this.len++;
	            },
	            changeFieldValueType:function(index,value){
	            	changeValueType(this.fieldList,index,value);
	            },
	            fieldRemove:function(index){
	            	removeField(this.fieldList,index);
	            },
	            
	            //********************************************************************************************************
	            addTargetWhereField:function(event){
	            	this.addWhereField(event,false)
	            },
	            addSourceWhereField:function(event){
	            	this.addWhereField(event,true);
	            },
	            addWhereField:function(event,isSource){
	            	if(this.from==''||this.to==''){
	            		toastr.error('请先选择要配置的原数据表和目标数据表!', '操作失败');
	            		return;
	            	}
	            	if(this.conditionFieldList.length==this.len){
	            		toastr.info('没有可添加的目标字段！', '提示信息');
	            		return;
	            	}
	            	
	            	var value={"name":"","type":"","valueType":"","textValue":"","fieldValue":"","value":"","showText":false,"showSelect":false};
	            	if(isSource){
	            		value.applyType="SOURCE";
	            	}else{
	            		value.applyType="TARGET";
	            	}
	            	
	            	this.conditionFieldList.push(value);
	            	this.len++;
	            },
	            changeConditionFieldValueType:function(index,value){
	            	changeValueType(this.conditionFieldList,index,value);
	            },
	            conditionFieldRemove:function(index){
	            	removeField(this.conditionFieldList,index);
	            },
	            
	            //********************************************************************************************************
	            addFormatField:function(event){
	            	if(this.fieldList.length==0){
	            		toastr.info('没有可格式化的数据源字段！', '提示信息');
	            		return;
	            	}
	            	this.formatFieldList.push({"filedName":"","clazz":"","defaultValue":"","formatParameter":""});
	            },
	            formatFieldRemove:function(index){
	            	removeField(this.formatFieldList,index);
	            },
	            
	          	//********************************************************************************************************
	          	addTargetConstraintField:function(event){
	          		this.addConstraintField(event,false);
	          	},
	          	addSourceConstraintField:function(event){
	            	this.addConstraintField(event,true);
	            },
	          	addConstraintField:function(event,isSource){
	          		var value={"filedName":"","applyType":"","type":""};
	            	if(isSource){
	            		value.applyType="SOURCE";
	            	}else{
	            		value.applyType="TARGET";
	            	}
	            	
	            	this.constraintFieldList.push(value);
	          	},
	            constraintFieldRemove:function(index){
	            	removeField(this.constraintFieldList,index);
	            },
	            
	            //********************************************************************************************************
	            saveTable:function(event){//保存表单
	            	
	            	if(confirm("是否保存!")){
		            	event.preventDefault();
		            	
		            	saveData();
	            	}
	            }
	        }
	    });
	    
	    //更改原表或目标表
	    function changeTable(from,to){
	    	var url="/tables/getTable";
	    	if(from!=''&&to!=''){
	    		$.post(url,{fromTable:from,toTable:to},function(response){
					if(response.rspCode=="000000"){//操作成功
						tableDiv.fromTableModel=response.data["fromTable"];
						tableDiv.toTableModel=response.data["toTable"];
						tableDiv.len=tableDiv.toTableModel.columnList.length;//表字段长度
					}else{
						toastr.error('获取表字段失败', '操作失败');
					}
				});
	    	}
	    }
	    //更改值来源,该方法即用在初始化数据渲染页面，同时也应用在保持数据设置value值上
	    function changeValueType(fieldList,index,value){
	    	if(fieldList){
	    		
	    		switch(fieldList[index].valueType){
		        	case "FIELD":
		    			fieldList[index].showText=false;
		    			fieldList[index].showSelect=true;
		    			break;
		    		case "FIXED":
		    		case "GENCODE":
		    			fieldList[index].showText=false;
		    			fieldList[index].showSelect=false;
		    			break;
		    		default :
		    			fieldList[index].showText=true;
		    			fieldList[index].showSelect=false;
		    	}
	    		
	    		if(fieldList[index].showText){
	    			if(value!=''){//页面渲染
	        			fieldList[index].textValue=value;
	    			}else{//保存表单
	    				fieldList[index].value=fieldList[index].textValue;
	    			}
        		}else{
        			if(value!=''){
	        			fieldList[index].fieldValue=value;
        			}else{
        				fieldList[index].value=fieldList[index].fieldValue;
        			}
        		}
	        	
	    	}
	    }
	    //删除字段配置
	    function removeField(fieldList,index){
	    	if(confirm("是否删除？")){
        		fieldList.splice(index,1);//删除指定下标元素
        	}
	    }
	    //加载数据展示到空间中
	    function loadData(tableId){
	    	$.post("/tables/info/"+tableId,function(response){
    			if(response.rspCode=="000000"){//操作成功
            		var tableModel=response.data.table;
            		tableDiv.fromTableModel=response.data.fromTable;
            		tableDiv.toTableModel=response.data.toTable;

   					if(tableModel){
            			tableDiv.id=tableModel.id;
   						tableDiv.from=tableModel.from;
   						tableDiv.to=tableModel.to;
   						tableDiv.note=tableModel.note;
   						tableDiv.type=tableModel.type;
   						
   						//**********************************************************
   						if(tableModel.fieldList){//页面显示fieldList字段
	    					for(var index=0;index<tableModel.fieldList.length;){
	    						//防止页面上删除设置字段，而不能删除applyType为Source的字段，保存数据时，后台会自动添加上相关的Source字段
	    						if(tableModel.fieldList[index].applyType=='SOURCE'){
	    							tableModel.fieldList.splice(index,1);//删除指定下标元素
	    						}else{//删除字段使用splice会动态改变数组的长度，因此index自增不能放到for循环体中
	    							index++;
	    						}
	    					}

   							tableDiv.fieldList=tableModel.fieldList;
	   						tableDiv.len=tableModel.fieldList.length;
	   						for(var index=0;index<tableDiv.fieldList.length;index++){
	   							tableDiv.changeFieldValueType(index,tableDiv.fieldList[index].value);
	    					}
   						}
   						
   						//**********************************************************
   						if(tableModel.whereModel&&tableModel.whereModel.conditionList){
   							for(var index=0;index<tableModel.whereModel.conditionList.length;index++){
   								var condition=tableModel.whereModel.conditionList[index];
   								var conditionField=condition.field;
   								tableDiv.conditionFieldList.push({"type":condition.type,"applyType":condition.applyType,
   										"name":conditionField.name,"valueType":conditionField.valueType,"textValue":"","fieldValue":"","value":conditionField.value,"showText":false,"showSelect":false});
   								
   							}
							for(var index=0;index<tableDiv.conditionFieldList.length;index++){
		   						tableDiv.changeConditionFieldValueType(index,tableDiv.conditionFieldList[index].value);
		    				}
   						}
   						
   						//**********************************************************
   						//限定条件
   						if(tableModel.constraintList){
   							for(var index=0;index<tableModel.constraintList.length;index++){
   								var constraintField=tableModel.constraintList[index];
   								var field=constraintField.field;
   								tableDiv.constraintFieldList.push({"type":constraintField.type,"applyType":constraintField.applyType,"fieldName":field.name});
   							}
   						}
   						
   					   	//**********************************************************
   						
   						//格式化字段配置信息
   						if(tableModel.formatFieldList){
	   						tableDiv.formatFieldList=tableModel.formatFieldList;
   						}
    				}
				}else{
					toastr.error('加载数据失败', '操作失败');
				}
    		});
	    }
	    
	    //格式化保存参数数据
	    function saveData(){
	    	
	    	var param={"id":tableDiv.id,"note":tableDiv.note,"from":tableDiv.from,"to":tableDiv.to,"type":tableDiv.type};
	    	
	    	//****************************************************************
	    	//设置字段的value值
        	for(var i=0;i<tableDiv.fieldList.length;i++){
        		changeValueType(tableDiv.fieldList,i,tableDiv.fieldList[i].value);
        	}
	    	param.fieldList=tableDiv.fieldList;
	    	
	    	//****************************************************************
	    	
        	//where条件
        	var whereModel={}
        	if(tableDiv.conditionFieldList.length>0){
        		whereModel.conditionList=[];
        		for(var i=0;i<tableDiv.conditionFieldList.length;i++){
        			var conditionField=tableDiv.conditionFieldList[i];
        			
        			tableDiv.changeConditionFieldValueType(i,'');
        			
        			var field={"name":conditionField.name,"applyType":conditionField.applyType,"valueType":conditionField.valueType,"value":conditionField.value};
        			whereModel.conditionList.push({"type":conditionField.type,"applyType":conditionField.applyType,"field":field})
        		}
        	}
	    	param.whereModel=whereModel;
	    	//*****************************************************************
	    	param.formatFieldList=tableDiv.formatFieldList;
	    	
	    	//*****************************************************************
	    	//constraint限定
	    	var constraintList=[];
	    	if(tableDiv.constraintFieldList.length>0){
	    		for(var i=0;i<tableDiv.constraintFieldList.length;i++){
	    			var constraintField=tableDiv.constraintFieldList[i];
	    			var field={"name":constraintField.fieldName,"applyType":constraintField.applyType};
	    			constraintList.push({"type":constraintField.type,"applyType":constraintField.applyType,"field":field});
	    		}
	    	}
	    	
	    	param.constraintList=constraintList;
	    	
        	//*****************************************************************
            $.ajax({
            	type: "POST",
                url: "/tables/saveTable",
                dataType: "json",
				contentType: "application/json",
                data:JSON.stringify( param ),
                success: function(response){
                	if(response.rspCode=="000000"){//操作成功
                		toastr.success('保存成功', '操作成功');
                		//跳转回list页面
						locationUrl('/tables/toList','table');
					}else{
						toastr.error('保存失败', '操作失败');
					}
                }
            });
	    }
    </script>
</html>