<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="tableDiv" class="panel panel-default">
	  <div class="panel-heading">配置迁移表字段信息</div>
	  <div class="panel-body">
		  <div class="form-inline">
			  <div class="form-group">
				    <label for="note">迁移数据信息：</label>
				    <input type="text" class="form-control" name="note" v-model="note">
			  </div>
			  <div class="form-group">
				    <label for="from">选择源表：</label>
				    <select class="form-control" v-model="from" name="form" v-on:change="getChangedTable">
						<option th:each="tableName:${sourceTableList}" th:text="${tableName}" th:value="${tableName}"></option>
					</select>
			  </div>
			  <div class="form-group">
				    <label for="to">选择目标表：</label>
				    <select class="form-control" v-model="to" name="to" v-on:change="getChangedTable">
						<option th:each="tableName:${targetTableList}" th:text="${tableName}" th:value="${tableName}"></option>
					</select>
			  </div>
		  </div>
		  <div style="float: right;"><input class="btn btn-primary" type="button" value="添加字段" v-on:click="addField"></div>
	  </div>
	  <!-- 表字段配置信息 -->
	  <table class="table table-hover">
	  	<thead>
	        <tr>
	          <th>#</th>
	          <th>目标表字段</th>
	          <th>值来源</th>
	          <th>数据值</th>
	          <th>默认值</th>
			  <th>格式化</th>
			  <th>操作</th>
	        </tr>
	  	</thead>
	  	<tbody>
	  		<tr v-for="(field,index) in fieldModels">
	  			<th scope="row">{{ index }}</th>
		        <td>
		        </td>
		        <td>Otto</td>
		        <td>@mdo</td>
		        <td>Mark</td>
		        <td>Otto</td>
		        <td>@mdo</td>
	  		</tr>
          
	  	</tbody>
	  </table>
	</div>
</body>
	<script th:src="@{/webjars/vue/2.1.3/vue.min.js}"></script>
    <script type="text/javascript">
	    var tableDiv = new Vue({
	        el: "#tableDiv",
	        data: {
	        	note:'',//定义配置描述信息
	        	from:'',//配置源表
	        	to:'',//配置目标表
	        	fieldModels:[],//配置字段转换信息
	        	conditionModels:[],//配置关联条件
	        	fromTableModel:{},//设置成空对象
				toTableModel:{}
	        },
	        methods: {
	            getChangedTable: function(event){
	            	if(this.from!=''&&this.to!=''){
	            		var result=changeTable(this.from,this.to);
	            		if(result){
	            			this.sourceTableModel=result["fromTable"];
	            			this.toTableModel=result["toTable"];
	            		}
	            	}
	            },
	            addField : function(event){
	            	if(this.from==''||this.to==''){
	            		toastr.error('请先选择要配置的原数据表和目标数据表!', '操作失败');
	            		return;
	            	}
	            	this.fieldModels.push({"name":"xxxx"});
	            }
	        }
	    });
	    
	    function changeTable(from,to){
	    	var url="/tables/getTable";
	    	if(from!=''&&to!=''){
	    		$.post(url,{fromTable:from,toTable:to},function(response){
					if(response.rspCode=="000000"){//操作成功
						return response.data;
					}else{
						toastr.error('导入配置文件失败', '操作失败');
					}
				});
	    	}
	    }
    </script>
	<!-- <script type="text/javascript">
		var sourceTableModel=null;
		var targetTableModel=null;
		//json枚举数据
		/*<![CDATA[*/
		  var valueType = /*[[${valueType}]]*/ '';
		/*]]>*/
		
		function changeTable(source){
			var tableName='';
			if(source){
				tableName=$("#sourceTableSelect").val();
			}else{
				tableName=$("#targetTableSelect").val();
			}
			
			if(tableName==''){
				if(source){
					sourceTableModel=null;
				}else{
					targetTableModel=null;
				}
				return false;
			}
			$.post("/tables/getTable",{ "isSourceTable" : source , "tableName" : tableName }, function(data){
		          if(data){
		        	  if(source){
		        		  sourceTableModel=data;
		        	  }else{
		        		  targetTableModel=data;
		        	  }
		          }
		    });
		}
		
		function displayTable(){
			if(sourceTableModel){
      		  	//清空源表显示信息
      		  	$("#sourceTable").empty();//清空内容
				for(var index=0;index<sourceTableModel.columnList.length;index++){
	      		  	var column=sourceTableModel.columnList[index];
	      			$("#sourceTable").append("<tr><td>"+column["name"]+"</td></tr>");
	      	  	}
			}
		}
		
		function addTable(){
			window.location.href='/tables/add';
		}
		
		//添加转换字段
		function addField(){
			if(targetTableModel==null||sourceTableModel==null){
				alert("请先选择待迁移的数据表!!!");
				return false;
			}
			
			var table=$("#migrateTable");
			
			var index=$("#migrateTable tr").length-1;
			
			var html=$("<tr></tr>");//创建行数据
			//目标表字段
			html.append($("<td></td>").append(getTableFieldColumn(targetTableModel,"filedList["+index+"].name")));
			//值来源
			html.append($("<td></td>").append(getValueType("filedList["+index+"].valueType")));
			//数据值
			html.append($("<td></td>").append(getTableFieldValue(true,"filedList["+index+"].value")));
			//默认值
			html.append($("<td></td>").append("")));
			//格式化
			html.append("<td></td>");
			
			$("#migrateTable").append(html);
		}
		//获取表字段选项
		function getTableFieldColumn(table,name){
			var select=$("<select name='"+name+"'></select>");//设置name字段值
			if(table!=null){
				for(var index=0;index<table.columnList.length;index++){
	      		  	var column=table.columnList[index];
	      			select.append("<option>"+column["name"]+"</option>");
	      	  	}
			}
			return select;
		}
		//获取表字段数据值
		function getTableFieldValue(fixed,name){
			if(fixed){//固定值，由用户输入
				return $("<input type='text' name='"+name+"'>");
			}else{//字段值，从源表中选择
				return getTableFieldColumn(sourceTableModel,name);
			}
		}
		//获取值来源字段值
		function getValueType(name){
			var select=$("<select name='"+name+"' onchange='changValueType(this)'></select>");//设置name字段值
			for(var key in valueType){
				select.append("<option value='"+key+"'>"+valueType[key]+"</option>");
			}
			return select;
		}
		//获取表字段默认值
		function getTableFieldDefaultValue(name){
			return $("<input type='text'>");
		}
		
		//修改值来源选项
		function changValueType(obj){
			//联动改变数据值控件
			var value=$(obj).val();
			//首先清空
			var nextTd=$(obj).parent("td").next();
			var name=nextTd.children("select").attr("name");
			nextTd.empty();
			//从新设置内容
			if(value=='FIXED'){
				nextTd.append(getTableFieldValue(true,name)));
			}
		}
	</script> -->
</html>