<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>上传配置文件</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <form th:action="@{/tables/uploadXml}" method="post" enctype="multipart/form-data">
    	<input type="file" name="tableFile" value="选择上传的配置文件" accept="*.xml">
    	<input type="submit" value="提交">
    </form>
  </body>
</html>
