<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>校验专利错误</title>
</head>
<script th:inline="javascript">
	function next(){
		var pageNum=/*[[${pageable.next().getPageNumber()}]]*/ '';
		var pageSize=/*[[${pageable.next().getPageSize()}]]*/ '';
		
		if(''!=pageNum&&''!=pageSize){
			page(pageNum,pageSize);
		}
	}
	
	function prev(){
		var pageNum=/*[[${pageable.previousOrFirst().getPageNumber()}]]*/ '';
		var pageSize=/*[[${pageable.previousOrFirst().getPageSize()}]]*/ '';
		
		if(pageNum>=0&&''!=pageSize){
			page(pageNum,pageSize);
		}
	}
	function page(pageNum,size){
		var batchLogId=/*[[${batchLogId}]]*/ '';
		
		window.location.href='/patent/check/'+batchLogId+'?page='+pageNum+'&size='+size;
	}
</script>
<body>
	<div>专利接口校验专利信息</div>
	<table style="width:80%;text-align:center;" border="1px">
	    <tr>
	      <th>原申请号</th>
	      <th>更正申请号</th>
	      <th>状态</th>
	    </tr>
	    <tr th:each="checkInfo : ${checkResult}">
	      <td th:text="${checkInfo.oAppNumber}"></td>
	      <td th:text="${checkInfo.appNumbers}"></td>
	      <td th:text="${checkInfo.status}"></td>
	    </tr>
	  </table>
  	<!-- Pagination Bar -->
	<div>
		<input type="button" th:if="${pageable.previousOrFirst()!=null}" value="prev" onclick="prev()">
		<input type="button" th:if="${pageable.next()!=null}" value="next" onclick="next()">
	</div>
</body>
</html>