<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/media/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
</head>
<body>
   <aside class="aside" th:fragment="left">
      <div class="aside-inner">
         <nav class="sidebar" data-sidebar-anyclick-close="">
            <ul class="nav">
               <li class="has-user-block">
               </li>
               <li class="nav-heading ">主导航</li>
               <li class="" id="home">
                  <a title="首页"  href="javascript:void(0);"  th:href="@{/}">
                     <em class="icon-home"></em>
                     <span>首页</span>
                  </a>
               </li>
                <li class="" id="explore" >
                  <a title="数据迁移配置" href="javascript:void(0);"  onclick="locationUrl('/tables/list','table')">
                     <em class="icon-compass"></em>
                     <span>数据迁移配置</span>
                  </a>
               </li>
               <li class=" " id="explore" >
                  <a title="数据迁移批次" href="javascript:void(0);"  onclick="locationUrl('/batches/list','batch')">
                     <em class="icon-compass"></em>
                     <span>数据迁移批次</span>
                  </a>
               </li>
               <li class="nav-heading ">更多</li>
               <li class=" " id="import">
                  <a title="导入补充专利" href="javascript:void(0);" onclick="locationUrl('/patent/toUpload','import')">
                     <em class="icon-login"></em>
                     <span>导入补充专利</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </aside>
</body>
</html>

