<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link rel="stylesheet" th:href="@{/vendor/fontawesome/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/media/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}"/>
</head>
<body>
   <aside class="aside" th:fragment="left">
      <div class="aside-inner">
         <nav class="sidebar" data-sidebar-anyclick-close="">
            <ul class="nav">
               <li class="has-user-block">
               </li>
               <li class="nav-heading ">主导航</li>
               <li class="" id="home">
                  <a title="首页"  href="javascript:void(0);"  th:href="@{/}">
                     <em class="icon-home"></em>
                     <span>首页</span>
                  </a>
               </li>
                <li class="" id="explore" >
                  <a title="数据迁移配置" href="javascript:void(0);"  onclick="locationUrl('/tables/toList','table')">
                     <em class="icon-compass"></em>
                     <span>数据迁移配置</span>
                  </a>
               </li>
               <li class=" ">
                  <!-- <a title="数据迁移批次" href="javascript:void(0);"  onclick="locationUrl('/batches/toList','batch')">
                     <em class="icon-compass"></em>
                     <span>数据迁移批次</span>
                  </a> -->
                  <a data-toggle="collapse" title="数据迁移批次" href="#batch">
                     <em class="icon-folder"></em>
                     <span>数据迁移批次</span>
                  </a>
                  <ul class="nav sidebar-subnav collapse" id="batch">
                     <li class="sidebar-subnav-header">批次</li>
                     <li id="batches" class=" ">
                        <a title="批次配置" href="javascript:void(0);" onclick="locationUrl('/batches/toList','batches')">
                           <span>批次配置</span>
                        </a>
                     </li>
                     <li id="batchLog" class="">
                        <a title="+ 正在执行批次" href="javascript:void(0);" onclick="locationUrl('/logs/toBatchLog','batchLog')">
                           <span>+ 正在执行批次</span>
                        </a>
                     </li>
                     <li id="batchLoged" class="">
                        <a title="+ 已执行的批次" href="javascript:void(0);" onclick="locationUrl('/logs/toBatchLoged','newFavortes')">
                           <span>+ 已执行的批次</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="nav-heading ">更多</li>
               <li class=" " id="import">
                  <a title="导入补充专利" href="javascript:void(0);" onclick="locationUrl('/patent/toUpload','import')">
                     <em class="icon-login"></em>
                     <span>导入补充专利</span>
                  </a>
               </li>
               <li class=" " id="copyright">
                  <a title="导入补充著作权" href="javascript:void(0);" onclick="locationUrl('/copyright/toUpload','copyright')">
                     <em class="icon-login"></em>
                     <span>导入补充著作权</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </aside>
</body>
</html>