<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>已执行的批次列表</title>
  	<link th:href="@{/css/vue-pagination.css}" rel="stylesheet">
  	<script th:src="@{/webjars/vue/2.1.3/vue.min.js}"></script>
    <script th:src="@{/js/vue-pagination.js}" ></script>
    <script th:src="@{/js/vue-dateFormat.js}" ></script>
  </head>
  
  <body>
  	<div id="app">
  		<div class="panel-heading">已执行的批次列表</div>
		<div class="panel-body"></div>
		
	  	<div style="overflow: auto;">
	  		<table class="table table-bordered table-dark table-hover">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">执行批次号</th>
			      <th scope="col">批次名称</th>
			      <th scope="col">批次执行时间</th>
			      <th scope="col">操作</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr v-for="(batchLog,index) in batchLogList" v-cloak>
			  		<th scope="row" >{{index+1}}</th>
			  		<td>{{batchLog.batchNo}}</td>
			  		<td>{{batchLog.batchName}}</td>
			  		<td>{{batchLog.createDate | formatDate}}</td>
				    <td>
				      	<a style="text-decoration: none;" v-on:click="locationUrl('/logs/tables/'+batchLog.id,'batchLoged')"><i class="icon-magnifier"></i>查看</a>
			      	</td>
			  	</tr>
			  </tbody>
			</table>
	  	</div>
	  	<div style="float:right;">
	  		<vue-pager :currentpage.sync="currentpage" :totlepage.sync="totlepage" :visiblepage.sync="visiblepage" v-on:page-change="listen"></vue-pager>
	  	</div>
  	</div>
  </body>
  <script type="text/javascript">
	 var app = new Vue({
	      el: '#app',
	      data:{
	    	batchLogList:[],//数据集合
	    	//分页信息
	        currentpage: 1,
	        totlepage: 28,
	        visiblepage:10,
	        pageSize:20,
	      },
	      components:{
	        'vue-pager': vuePager  //子组件
	      },
	      filters:{
	    	  formatDate:function(date){
	    		  var date=new Date(date);
	    		  return formatDate(date,"yyyy-MM-dd")
	    	  }
	      },
	      mounted:function(){
	    	   loadData(this.currentpage,this.pageSize);//加载第一页数据
	      },
	      methods:{
	        listen:function(page){
	            this.currentpage=page;
	        	loadData(page,this.pageSize);
	        }
	      }
	 });
    
  	$(function(){
	  toastr.options = {
         'closeButton': true,
         'positionClass': 'toast-top-center',
         'timeOut': '5000',
       };
  	});
  	
	//加载数据
	function loadData(pageNum,pageSize){
		
		var param={"pageNum":pageNum,"pageSize":pageSize};
		
		$.post("/logs/batchLog/list",param,function(response){
           	if(response.rspCode=="000000"){//操作成功
           		app.totlepage=response.data.totalPage;
           		app.batchLogList=response.data.batchLogList;
			}else{
				toastr.error('数据加载失败', '操作失败');
			}
         });
	}
  </script>
</html>