<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>表执行日志</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
	<script src="/webjars/jquery/3.2.0/dist/jquery.min.js"></script>
	<script th:inline="javascript">
		function migrate(){
			var tableId=/*[[${tableId}]]*/ '';
			var parentId=/*[[${batchLog.id}]]*/ '';
			var batchId=/*[[${batchLog.batchId}]]*/ '';
			
			window.location.href='/batches/migrate/'+batchId+'/'+parentId+'/'+tableId;
		}
		
		function next(){
			var pageNum=/*[[${pageable.next().getPageNumber()}]]*/ '';
			var pageSize=/*[[${pageable.next().getPageSize()}]]*/ '';
			
			if(''!=pageNum&&''!=pageSize){
				page(pageNum,pageSize);
			}
		}
		
		function migrateSuccess(){
			var batchLogId=/*[[${batchLog.id}]]*/ '';
			var tableId=/*[[${tableId}]]*/ '';
			
			window.location.href='/logs/table/success/'+batchLogId+'/'+tableId;
		}
		
		function exportSuccess(){
			var batchLogId=/*[[${batchLog.id}]]*/ '';
			var tableId=/*[[${tableId}]]*/ '';
			
			window.location.href='/logs/table/success/export/'+batchLogId+'/'+tableId;
		}
		
		function migrateFail(){
			var batchLogId=/*[[${batchLog.id}]]*/ '';
			var tableId=/*[[${tableId}]]*/ '';
			
			window.location.href='/logs/table/fail/'+batchLogId+'/'+tableId;
		}
		
		function prev(){
			var pageNum=/*[[${pageable.previousOrFirst().getPageNumber()}]]*/ '';
			var pageSize=/*[[${pageable.previousOrFirst().getPageSize()}]]*/ '';
			
			if(''!=pageNum&&''!=pageSize){
				page(pageNum,pageSize);
			}
		}
		
		function page(pageNum,size){
			var batchLogId=/*[[${batchLog.id}]]*/ '';
			var tableId=/*[[${tableId}]]*/ '';
			window.location.href='/logs/table/'+batchLogId+'/'+tableId+'?page='+pageNum+'&size='+size;
		}
		
		$(function(){
			//统计总信息
			statistic();
			//统计错误信息
			statsticError();
		});
		
		function statistic(){
			var batchLogId=/*[[${batchLog.id}]]*/ '';
			var tableId=/*[[${tableId}]]*/ '';
			var url='/logs/statistic/';
			
			var data={'batchLogId':batchLogId,'tableId':tableId};
			
			$.post(url,data,function(result){
				if(result){
					$("#batchNum").text(result["FAIL"]+result["SUCCESS"]);
					
					if(result["SUBSUCCESS"]){
						$("#sucNum").text(result["SUCCESS"]+result["SUBSUCCESS"]);
					}else{
						$("#sucNum").text(result["SUCCESS"]);
					}
				}
			})
		}
		function statsticError(){
			var batchLogId=/*[[${batchLog.id}]]*/ '';
			var tableId=/*[[${tableId}]]*/ '';
			var url='/logs/statistic/error/';
			
			var data={'batchLogId':batchLogId,'tableId':tableId};
			
			$.post(url,data,function(result){
				if(result){
					
					if(result["FORMART_EXCEPTION"]){
						$("#formatError").text(result["FORMART_EXCEPTION"]);
					}
					if(result["NOFOUND_EXCEPTION"]){
						$("#notFoundError").text(result["NOFOUND_EXCEPTION"]);
					}
					if(result["OTHERS"]){
						$("#otherError").text(result["OTHERS"]);
					}
				}
			})
		}
	</script>
  </head>
  
  <body>
  	<div>
  		<input type="button" value="错误信息更正" onclick="migrate()">
  		<input type="button" value="查看正确处理的数据" onclick="migrateSuccess()">
  		<input type="button" value="查看处理错误数据" onclick="migrateFail()">
  		<input type="button" value="导出成功数据" onclick="exportSuccess()">
  	</div>
  	<div>
  		<form th:action="@{'/logs/table/'+${batchLog.id}+'/'+${tableId}}" th:method="post">
	  		执行状态:<select name="status"><option value="">请选择</option><option value="SUCCESS">成功</option><option value="FAIL">失败</option></select>
	  		错误分类：<select name="messageType" ><option value="">请选择</option><option value="SUCCESS">操作成功</option><option value="FORMART_EXCEPTION">数据格式化错误</option><option value="NOFOUND_EXCEPTION">数据未检索到</option></select>
	  		<input type="submit" value="提交">
  		</form>
  	</div>
	<!-- 执行日志 -->
    <table style="width:80%;text-align:center;" border="1px">
	    <tr>
	      <th>序号</th>
	      <th>源表</th>
	      <th>执行状态</th>
	      <th>数据</th>
	      <th>描述</th>
	      <td>操作</td>
	    </tr>
	    <tr th:each="log,index : ${tableLogList}">
	      <td th:text="${index.count}"></td>
	      <td th:text="${log.tableName}"></td>
	      <td th:text="${log.status}"></td>
	      <td th:text="${log.dealData}"></td>
	      <td th:text="${log.message}"></td>
	      <td><span><a th:href="@{'/tables/record/'+${log.tableId}+'/'+${log.dataId}}">原表记录信息</a></span></td>
	    </tr>
	  </table>
	  
  	<!-- Pagination Bar -->
	<div>
		<input type="button" th:if="${pageable.previousOrFirst()!=null}" value="prev" onclick="prev()">
		<input type="button" th:if="${pageable.next()!=null}" value="next" onclick="next()">
	</div>
	<!-- 统计信息 -->
	<div>
  		<label>统计信息：</label>
  		批次处理量：<span id="batchNum"></span>
  		成功数量：<span id="sucNum"></span>
  	</div>
  	<div>
  		<label>错误信息统计：</label>
  		数据格式化错误：<span id="formatError"></span>
  		数据未检索到：<span id="notFoundError"></span>
  		其他错误：<span id="otherError"></span>
  	</div>
  </body>
</html>